.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
}

.left-nav > ul > li {
  background-color: inherit;
  border-color: inherit;
  color: black;
  font-weight: 700;
  padding: 8px;
  border-radius: 3px;
  transition: 0.2s;
  font-family: $sans-serif;
  text-transform: uppercase;
  font-size: inherit;
  text-align: center;
}

.right-nav > ul > li {
  margin: 4px;
}

.right-nav > ul > li:last-of-type {
  font-size: 18px;
  display: flex;
  align-items: center;
  padding: 0px 5px;
  border-radius: 3px;
  position: relative;
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color: $light-gray;
}

.left-nav span {
  background-color: inherit;
}

.left-nav i {
  background-color: inherit;
}


.right-nav i {
  background-color: inherit;
}
