.sections {
  border-bottom: 1px solid $light-gray;
  font-family: $sans-serif;
}

.sections ul {
  display: flex;
  justify-content: space-around;
  margin: 10px 50px;
  align-content: center;
}

.sections ul li a{
  padding: 3px 5px;
}

.sections ul li:last-of-type {
  text-decoration: underline;
}

.sections a:hover {
  background-color: $lightest-gray;
  transition: 0.2s;
  border-radius: 3px;
}
